body {
  background-color: #F9D4D2;
  font-family: 'Space Mono', monospace;
  color: #12121A;
  font-size: 0.8em;
  line-height: 1.25em;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1em;
  font-weight: normal;
  color: #12121A;
}

h2 {
  font-size: 1em;
  font-weight: normal;
}

a {
  color: #12121A;
  text-decoration: none;
}

a:visited {
  color: #12121A;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #12121A;
}

.pad5em {
  padding-bottom: 0.5em;
}

.top-left {
  position: absolute;
  left: 2em;
  right: auto;
  top: 2em;
  bottom: auto;
}

.top-right {
  position: absolute;
  left: auto;
  right: 2em;
  top: 2em;
  bottom: auto;
}

.bottom-left {
  position: absolute;
  left: 2em;
  right: auto;
  top: auto;
  bottom: 2em;
}

.bottom-right {
  position: absolute;
  left: auto;
  right: 2em;
  top: auto;
  bottom: 2em;
}

.card-container {
  width: 25em;
  border: 10px solid #27312A;
  border-radius: .25em;
}

.avatar-block {
  width: 100%;
  margin: 0 auto;
  position: relative;
  bottom: -5px;
}
.avatar {
  width: 100%;
}

.info-block {
  padding:3em;
  background-color: rgba(255, 255, 255, 0.3);
  border-top: 10px solid #27312A;
}

@media screen and (max-width: 520px) {
  body {
    width: auto;
  }
  .top-left {
    position: absolute;
    left: 1em;
    right: auto;
    top: 1em;
    bottom: auto;
  }

  .top-right {
    position: absolute;
    left: auto;
    right: 1em;
    top: 1em;
    bottom: auto;
  }

  .bottom-left {
    position: absolute;
    left: 1em;
    right: auto;
    top: auto;
    bottom: 1.5em;
  }

  .bottom-right {
    position: absolute;
    left: auto;
    right: 1em;
    top: auto;
    bottom: 1.5em;
  }
  .card-container {
    margin: 1em;
    width: 100%;
    border: 5px solid #27312A;
    border-radius: .25em;
  }
  .avatar-block {
    width: 100%;
    position: relative;
    bottom: -3px;
  }
  .info-block {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 5px solid #27312A;
  }
  .nameslice {
    height: 3em;
  }
}
