body {
  background-color: #F9D4D2;
  font-family: 'Space Mono', monospace;
  color: #12121A;
  font-size: 0.8em;
  line-height: 1.25em;
  margin: 2em;
}

h1 {
  font-size: 1em;
  font-weight: normal;
  color: #12121A;
}

h2 {
  font-size: 1em;
  font-weight: normal;
}

a {
  color: #12121A;
  text-decoration: none;
}

a:visited {
  color: #12121A;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #12121A;
}

.pad5em {
  padding-bottom: 0.5em;
}

.shmo-bar {
  height: 7em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-container {
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0 2em 0;
}

.card-block {
  width: 25em;
  border: 10px solid #27312A;
  border-radius: .25em;
}

.avatar-block {
  width: 100%;
  margin: 0 auto;
  position: relative;
  bottom: -5px;
}
.avatar {
  width: 100%;
}

.info-block {
  padding:3em;
  background-color: rgba(255, 255, 255, 0.3);
  border-top: 10px solid #27312A;
}

@media screen and (max-width: 520px) {
  body {
    width: auto;
    overflow: scroll;
  }

  .shmo-bar {
    height: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-container {
    margin: 1em;
    height: auto;
  }

  .card-block {
    border: 5px solid #27312A;
  }

  .avatar-block {
    width: 100%;
    position: relative;
    bottom: -3px;
  }

  .info-block {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 5px solid #27312A;
  }

  .nameslice {
    height: 3em;
  }
}
